.navbar{
    background-image: url("./../images/WhatsApp\ Image\ 2024-11-05\ at\ 22.36.01_60ed236e.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    
}